.btn {
  background: transparent;
  outline-color: transparent;
  padding: 0.8rem 1.6rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: $font-medium;
  border: none;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;
  transition: $transition-sm;

  &:hover {
    opacity: 0.9;
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;
  }

  &--lg {
    font-size: 1.5rem;
    box-shadow: $shadow-md;
    padding: 1.2rem 2rem;
  }
}
