.header {
  padding: 1.5rem 0;
  background-color: $color-white;

  & > .container {
    display: flex;
  }

  &__logo {
    margin-right: 4.8rem;
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    list-style: none;
    display: flex;

    &__item {
      padding: 0.8rem;

      & > a {
        transition: $transition-sm;

        &:hover,
        &.active {
          color: $color-primary;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    & > * {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-weight: $font-semibold;
    }

    & > *:last-child {
      gap: 0;
      background-color: $color-primary;
      border-radius: 100rem;
      padding: 0.4rem;
      span {
        @include flex-center;
        width: 4.2rem;
        height: 4.2rem;
        background-color: $color-primary-dark;
        border-radius: 50%;
      }
      svg:first-child {
        width: 24px;
        height: 24px;
        color: $color-white;
      }
    }
  }
}
