.header {
  padding: 1.5rem 0;
  background-color: $color-white;

  & > .container {
    display: flex;
  }

  &__logo {
    margin-right: 4.8rem;

    svg {
      height: 4.8rem;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-queries(atLarge) {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      flex-direction: column;
      background-color: $color-light;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 111;
      justify-content: center;
      align-items: flex-start;
      font-size: 2rem;
      padding-left: 15%;

      &.active {
        opacity: 1;
        pointer-events: all;
        animation: anim-from-left 0.5s ease-in-out;
      }
    }
  }

  &__menu {
    list-style: none;
    display: flex;

    @include media-queries(atLarge) {
      flex-direction: column;
      justify-content: center;
    }

    &__item {
      padding: 0.8rem;

      & > a {
        transition: $transition-sm;

        &:hover,
        &.active {
          color: $color-primary;
          @include media-queries(atLarge) {
            border-bottom: 2px solid $color-primary-dark;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @include media-queries(atLarge) {
      margin-top: 2rem;
      padding-top: 3rem;
      gap: 2rem;
      border-top: 2px solid $color-light-gray;
      flex-direction: column;
      align-items: flex-start;
    }

    & > * {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-weight: $font-semibold;
    }

    & > *:last-child {
      gap: 0;
      background-color: $color-primary;
      border-radius: $radius-full;
      padding: 0.4rem;

      span {
        @include flex-center;
        width: 4.2rem;
        height: 4.2rem;
        background-color: $color-primary-dark;
        border-radius: $radius-full;
      }
      svg:first-child {
        width: 24px;
        height: 24px;
        color: $color-white;
      }
    }
  }

  &__mobile-menu {
    display: none;
    padding: 0.5rem;
    width: 4.8rem;
    height: 4.8rem;
    color: $color-primary;
    border-radius: $radius-full;
    background-color: $color-primary-light;
    box-shadow: $shadow-sm;
    border: 1px solid $color-light-gray;
    position: relative;
    z-index: 999;

    @include media-queries(atLarge) {
      @include flex-center;
      margin-left: auto;
    }
  }
}
