.bus-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow-sm;
  border: $border-sm;
  border-radius: $radius-md;
  margin-top: 1rem;
  overflow: hidden;

  & > * {
    flex: 1;
  }
}
