.bus-layout {
  padding-top: 3rem;
  position: relative;

  & > .container {
    display: flex;
    flex: 1;
    gap: 3rem;

    @include media-queries(atMediumLarge) {
      gap: 0;
    }
  }

  &__filter {
    width: 30rem;
    background-color: $color-light;
    min-height: 71vh;
    height: 100%;
    box-shadow: $shadow-sm;
    border-radius: $radius-md;
    position: sticky;
    top: 0;

    @include media-queries(atMediumLarge) {
      display: none;
    }
  }

  &__body {
    width: 100%;
    max-width: calc(100% - 33rem);
    @include media-queries(atMediumLarge) {
      max-width: unset;
    }
  }
}
