.bus-list {
  display: flex;
  box-shadow: $shadow-sm;
  border: 1px solid $color-light;
  border-radius: 0.5rem;
  overflow: hidden;

  &__wrapper {
    display: flex;
    overflow-x: hidden;

    & > * {
      border-right: 1px solid $color-gray;
      min-width: 18rem;
    }
  }

  &__pagination {
    @include flex-center;
    width: 7.8rem;
    height: 5rem;
    color: $color-dark;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      svg > path {
        fill: $color-white;
      }
    }

    &--prev {
      border-right: 1px solid $color-gray;
    }

    &--next {
      border-left: 1px solid $color-gray;
    }
  }
}
